<ion-view view-title="{{titulo}}">
  <ion-content>
  		<div class="list">
  			<div class="item item-avatar item-button-right" ng-repeat="alumno in alumnos|filter:buscar as results">
          <img ng-src="data:image/jpeg;base64,{{alumno.imagen}}">
          <h3>{{alumno.nombre}} {{alumno.apellido}}</h3>
          <p>DNI: {{alumno.documento}}</p>
          <p>{{alumno.$id}}</p>
    			<button class="button {{boton}}" ng-click="accionarAlumno($index)">
      			<i class="icon {{icono}}"></i>
    			</button>
  			</div>
  		</div>
  </ion-content>
</ion-view>
